.createPokemon {
    background-color: rgb(150, 150, 150);
    padding: 20px;
    border-radius: 4px;
    margin: 5px 5px 5px 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-items: center;
}

.createPokemon h1 {

    font-size: 30px;
    grid-column: 1/3;
    margin-bottom: 5px;
}

.createPokemon .contenedor {
    grid-column: 1/3;
    border: 2px solid rgb(187, 183, 183);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.createPokemon .element {
    width: 150px;
    margin: 10px;
    
}

.createPokemon .element span {
    font-size: 15px;
    color: saddlebrown;
    margin: 5px;
}

.createPokemon .element input, select {
    width: 100%;
    border-color: rgb(187, 183, 183);
    border-radius: 4px;
}

.createPokemon button {
    color: gainsboro;
    margin: 15px;
    width: auto;
    padding: 10px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    background-color: #1b3039;
    cursor: pointer;
}

.createPokemon .image {
    grid-column: 3/4;
    display: grid;
    justify-content: center;
    align-content: center;
    
}

.createPokemon .image img {
    width: 250px;
    height: 250px;
    cursor: default;
}

.createPokemon .back {
    grid-column: 1/4;
}

